<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
<h1>Watchful Eye List</h1>
<p>Your Personal Watch List</p>
  <%= link_to "Create a movie list", new_list_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
  </div>
<div class="container mt-3">
  <div class="cards">
<% @lists.each do |list| %>
  <% list.name %>
<div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to list_path(list), class:"text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
